{% load static %}
{% include 'polls/header.html' %}

<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h1>{{ question }}</h1>
                <br>
                {% for choice in choices %}
                    <ul>
                        <li> {{ choice }}</li>
                    </ul>
                {% endfor %}
            </div>
        </div>
    </div>
</article>

{% include "polls/footer.html" %}