{% load static %}
{% include 'polls/header.html' %}

<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->


            {% if latest_question_list %}
            {% for question in latest_question_list %}
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title"><a href="{% url 'detail' question.id %}">{{ question.question_text }}</a></h2>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">Admin</a>
                    on {{ question.pub_date }}
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />

            {% endfor %}
            {% else %}
            <h2>No polls are available.</h2>
            {% endif %}


            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="{% url 'show_all_questions' %}">All questions →</a></div>
        </div>
    </div>
</div>

{% include "polls/footer.html" %}